<h1>Greeter#hello, <%= @name %></h1>
<p>The time now is <%= formatted_time(@time) %> </p>
<p> Time display <%=@times_displayed%> </p>


<p><%= link_to "Roussel Kamaha", "http://www.linkedin.com/in/rousselkamaha" %> </p>
<p><%= link_to "GoodBye", greeter_hello_path %></p>